.container {
  text-align: -webkit-center;
  color: #282c2f;

}

.container form {
  width: 30%;
  margin: 5%;
  padding: 1% 5% 5% 5%;
  text-align: start;
  border: 1px solid #282c2f;
  /* background-image: linear-gradient(to top, rgba(190, 203, 214, 0) 0%, rgb(120, 156, 224) 100%); */
}

a {
  color: #282c2f;
}


/* Phone Number CSS */
.PhoneInputInput {
  height: 32px;
  border: none;
  border-bottom: 1px solid #949494;
}

/* styles.css */
.PhoneInputCountrySelect {
  /* Custom styles for the country select dropdown */
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
}

.PhoneInputCountrySelect .CountrySelect {
  /* Custom styles for the country select input */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.PhoneInputCountrySelect .CountrySelect .CountrySelect-arrow {
  /* Custom styles for the country select arrow */
  border-top-color: #333;
}