.container {
  text-align: -webkit-center;
  color: #282c2f;
  
}

.container form {
  width: 30%;
  margin: 5%;
  padding: 1% 5% 5% 5%;
  text-align: start;
  border: 1px solid #282c2f;
  /* background-image: linear-gradient(to top, rgba(190, 203, 214, 0) 0%, rgb(120, 156, 224) 100%); */
}

a {
  color: #282c2f;
}