.container{
  margin-top: 100px;
  display: grid;
  place-items: center;
  border: 2px solid gray;
  padding: 20px 10px;
  background-color: white;
}
.each_container {
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 0px;
}